<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h3><i class="fa fa-file"></i> &nbsp;Quản lí Tài liệu</h3>
        <!-- <app-them-moi-phong actionType="Thêm mới" iconClass="fa fa-plus" btnClass="btn btn-primary btn-sm"></app-them-moi-phong> -->
        
        <div class="form-group row">
          <label class="col-md-1 col-form-label" for="text-input">Mã văn bản:</label>
          <div class="col-md-2">
            <ng-select2
            [data]="documentCodeList"
            [placeholder]="'Chọn mã văn bản...'"
            [options]="options"
            [(ngModel)]="documentCodeArr"
            (valueChanged)="getFilterOptions($event, fileCodeArr)"
        ></ng-select2>
          </div>
          <label class="col-md-1 col-form-label" for="text-input">Mã hồ sơ:</label>
          <div class="col-md-2">
            <ng-select2
            [data]="fileList"
            [placeholder]="'Chọn mã hồ sơ...'"
            [options]="options"
            [(ngModel)]="fileId"
            (valueChanged)="getFilterOptions(fileCodeArr, $event)"
        ></ng-select2>
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary btn-sm"style="float: right; margin-top: 4px;"  [routerLink]="['/QuanLyTaiLieu/taiLieuPdf]">
              <span class="fa fa-plus"></span>
              <span >
                  Thêm mới cơ quan
              </span>
          </button>
          </div>
         </div>
      <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>STT</th>
              <th>Hồ sơ số</th>
              <th>Tài liệu số</th>
              <th>Stt trong hồ sơ</th>
              <th>Tên loại tài liệu</th>
              <th>Nội dung</th>
              <th>Số tờ</th>
              <th>Mức độ tin cậy</th>
              <th>Tình trạng</th>
              <th>Ghi chú</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let document of documents">
              <td>{{ document.documentCode }}</td>
              <td>{{ document.fileCode }}</td>
              <td>{{ document.documentCode }}</td>
              <td>{{ document.docOrdinal }}</td>
              <td>{{ document.typeName }}</td>
              <td>{{ document.subject }}</td>
              <td>{{ document.pageAmount }}</td>
              <td>{{ document.confidenceLevel }}</td>
              <td>{{ document.format }}</td>
              <td>{{ document.description }}</td>
              <td style="width:137px">
                <button class="btn btn-primary fa fa-eye" [routerLink]="['/QuanLyTaiLieu/taiLieu', document.documentId]"
                  routerLinkActive="router-link-active"></button>
                <span *ngIf="roles == 'edit' || roles == 'admin'"><button class="btn btn-primary fa fa-edit"
                  [routerLink]="['/QuanLyTaiLieu/taiLieuPdf', document.documentId]"     replaceUrl="true" queryParamsHandling="merge"></button></span>
                <span *ngIf="roles == 'admin'"><button class="btn btn-primary fa fa-trash"
                    (click)="openDeleteDialog(document.documentId)"></button></span>
              </td>
            </tr>
          </tbody>
        </table>
        <nav>
          <ul class="pagination">
            <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [pageSize]="pageSize" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPages($event)"></ngb-pagination>
          </ul>
        </nav>
        </div>
      </div>
    </div>
  </div>
  <!--/.col-->
  <button class="btn btn-primary fa fa-eye" [routerLink]="['/QuanLyTaiLieu/taiLieuPdf']"
  routerLinkActive="router-link-active"></button>