<div class="row" style="margin-top: 10px;">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
         <h4> <i class="fa fa-align-justify"></i> Danh sách nhóm người dùng</h4>
         <hr/>
          <div style="margin-left: 6px;margin-right: 0px;margin-bottom: 10px;" class="row">
            <!-- <div class="col-md-4 row col-lg-4">
              <label class="col-md-4 col-sm-6 col-form-label" for="select1">Cơ quan</label>
              <div style="margin-top:5px;" class="col-md-8 col-sm-6">
                <ng-select2
                  [data]="userGroupArr"
                  [placeholder]="'Chọn nhóm quyền...'"
                  [options]="options"
                  [(ngModel)]="arrayTypeValue"
                  (valueChanged)="getFilterOptions($event)"
              ></ng-select2>
              </div>
            </div> -->
            <div class="row col-md-4 col-lg-4">
              <label class="col-md-4 col-sm-6 col-form-label" for="text-input">Tìm kiếm:</label>
              <div class="col-md-8 col-sm-6" style="margin-top: 5px;">
                <input type="text" id="text-input" (ngModelChange)="onChange($event)" ngModel="" name="searchText" class="form-control">
              </div>
            </div>
            <div class="row col-md-4 col-lg-4" style="margin-top:5px;">
              <button style="height: 34px;" class="btn btn-primary btn-sm pull-right" (click)="openDialog()">
                <span><i class="fa fa-plus"></i> Thêm mới nhóm quyền</span>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>STT</th>
                <th>Tên nhóm quyền</th>
                <th>Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let userGroup of userGroups ; index as i">
                <td>{{i+1}}</td>
                <td><b>&nbsp;{{userGroup.roleName}}</b></td>
                <td style="width:137px;text-align: center;">
                  <button class="btn btn-primary fa fa-edit" type="submit" (click)="openDialog(userGroup.roleId)"  replaceUrl="true" queryParamsHandling="merge"></button>
                  <button class="btn btn-primary fa fa-trash" type="submit" (click)="openDeleteDialog(userGroup.roleId)"></button>
                </td>
              </tr>
            </tbody>
          </table>
          <nav>
            <ul class="pagination">
              <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPages($event)"></ngb-pagination>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <ng-template #inactive>
      <td>
      <span class="badge badge-danger" style="margin-top: 5px;">Không hoạt động</span>
    </td>
    </ng-template>
    <ng-template #role>
      <span style="color: red;">Sửa tài liệu</span>
    </ng-template>
    <ng-template #admin>
      <td>
      <span style="color: orange">ADMIN</span>
    </td>
    </ng-template>
    <!--/.col-->
  </div>