<div class="row" style="margin-top: 10px;">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <ngx-spinner name="dataTable">
            <br>
            <p class="loading" style="color: blue;">Đang tải dữ liệu, vui lòng chờ...</p>
          </ngx-spinner>
          <ngx-spinner name="filterOptions">
            <br>
          </ngx-spinner>
          <h4><i class="fa fa-file"></i> &nbsp;Thống kê văn bản </h4>
          <hr/>
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="text-input">Ngày bắt đầu:</label>
            <div class="col-md-2">
              <input type="date" id="text-input" name="fromDate" [(ngModel)]="fromDate" class="form-control">
            </div>
            <label class="col-md-2 col-form-label" for="text-input">Ngày kết thúc:</label>
            <div class="col-md-2">
              <input type="date" id="text-input" name="toDate" [(ngModel)]="toDate" class="form-control">
            </div>
            <div style="margin-left:0px;margin-top: 9px;" class="col-md-4 col-lg-4">
              <div style="float: right;">
                <button class="btn btn-primary btn-sm" (click)="search()">
                  <span class="fa fa-plus"></span>
                  <span>
                    Tìm kiếm
                  </span>
                </button>
              </div>
            </div>
            <!-- <label class="col-md-1 col-form-label" for="text-input">Trạng thái</label>
            <div class="col-md-3">
              <input type="text" id="text-input" name="trangthai" class="form-control">
            </div> -->
          </div>
          <div class="row" style="margin-left:0px;padding-left: 0px;">
            <div style="margin-left:0px;padding-left: 0px;" class="row col-md-12 col-lg-12">
              <div style="display:flex;font-size: 20px;">
                <a href="{{link}}"> Xuất Excel</a>
                <!-- <button type="button" class="btn btn-primary" (click)="ExportExcel()" >Xuất Excel</button> -->
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <ngx-spinner name="paging">
              <br>
              <p class="loading" style="color: blue;"></p>
            </ngx-spinner>
            <thead>
              <tr>
                <th>Hồ sơ số</th>
                <th>Tài liệu số</th>
                <th>Stt trong hồ sơ</th>
                <th>Tên loại tài liệu</th>
                <th>Nội dung</th>
                <th>Số tờ</th>
                <th>Mức độ tin cậy</th>
                <th>Tình trạng</th>
                <th>TT duyệt</th>
                <th>Ghi chú</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let vanBan of vanBans">
                <td>{{ vanBan.documentCode }}</td>
                <td>{{ vanBan.fileCode }}</td>
                <td>{{ vanBan.docOrdinal }}</td>
                <td>{{ vanBan.typeName }}</td>
                <td>{{ vanBan.subject }}</td>
                <td>{{ vanBan.pageAmount }}</td>
                <td>{{ vanBan.confidenceLevel }}</td>
                <td>{{ vanBan.format }}</td>
                <td></td>
                <!-- <td *ngIf = 'vanBan.confirmed == 1'><span class="badge badge-success">Đã duyệt</span></td>
                <td *ngIf = 'vanBan.confirmed == 0'><span class="badge badge-danger">Chưa duyệt</span></td> -->
                <!-- <td *ngIf = 'vanBan.status == 1'><span class="badge badge-success">Đã sửa</span></td>
                <td *ngIf = 'vanBan.status == 0'><span class="badge badge-danger">Chưa sửa</span></td> -->
                <td>{{ vanBan.description }}</td>
              </tr>
            </tbody>
          </table>
          <ng-template #example>
  
          </ng-template>
          <nav>
            <ul class="pagination">
              <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPages($event)"></ngb-pagination>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>