<div class="row" style="margin-top: 10px;">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header" style="background-color: white;">
                <form [formGroup]="form" (onSubmit)="onSubmit()">
                    <h4><i class="fa fa-file"></i> &nbsp;Import dữ liệu văn bản</h4>
                    <hr/>
                    <div class="form-group row">
                        <label class="col-md-1 col-form-label" for="organ-type">Chọn cơ quan: </label>
                        <div class="col-md-3">
                            <ng-select2
                            formControlName="organID"
                            [data]="organList"
                            [placeholder]="'Chọn cơ quan...'"
                            [options]="options"
                            name="organID"
                            [(ngModel)]="validImport.organID"
                            ></ng-select2>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-1 col-form-label" for="organ-type">Chọn phông: </label>
                        <div class="col-md-3">
                            <ng-select2
                            formControlName="fontID"
                            [data]="fontList"
                            [placeholder]="'Chọn phông...'"
                            [options]="options"
                            name="fontID"
                            [(ngModel)]="validImport.fontID"
                            ></ng-select2>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label class="col-form-label" for="text-input">Chọn tệp dữ liệu: <span style="color:red">(*)</span></label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <mat-card-content>
               
                                        <input type="file" ng2FileSelect accept=".pdf" [uploader]="uploader" (change)="fileInputChange(uploader.queue)"/><br/>
                                        <br>
                                        <div *ngIf="uploader.queue.length != 0">
                                            <label>Bạn vừa chọn <b>{{ uploader.queue.length }}</b> file.</label>
                                            <table class="table table-bordered table-striped table-sm">
                                                <thead>
                                                    <tr>
                                                        <th width="70%">
                                                            Tên file
                                                        </th>
                                                        <th width="30%">
                                                            File size
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of uploader.queue">
                                                        <th width="70%">
                                                            <span style="color: #ff6565;">{{ item.file.name }}</span>
                                                        </th>
                                                        <th width="30%">
                                                            <span style="color: #ff6565;">({{ item.file.size/1000000 }} MB)</span>
                                                        </th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <br>
                                    </mat-card-content>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <button type="submit" (click)="validFileUpload()" class="btn btn-primary btn-md">
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                        <span>
                                            Kiểm tra dữ liệu
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <div style="padding-left: 0px; margin-left:0px;margin-top: 9px;">
                <button style="float: right;margin-bottom: 5px;margin-left: 8px;" class="btn btn-primary btn-sm" (click)="downloadImportTemplate()">
                    <span class="fa fa-download"></span>
                    <span>Tải xuống file mẫu</span>
                </button>
                <button *ngIf="validSuccessfully" style="float: right; margin-bottom: 5px;" class="btn btn-primary btn-sm" (click)="save()">
                    <span class="fa fa-plus"></span>
                    <span>Lưu</span>
                </button>
            </div>
            <table class="table table-bordered table-striped table-sm">
              <ngx-spinner name="paging">
                <br>
                <p class="loading" style="color: blue;"></p>
              </ngx-spinner>
              <thead>
                <tr>
                  <th>Dữ liệu</th>
                  <th>Chú thích</th>
                  <th>Loại thông báo</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <th>"Hồ sơ"</th>
                    <th>Chú thích</th>
                    <th>
                        <span class="badge badge-warning">
                            Cảnh báo
                        </span>
                    </th>
                  </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>