<!-- <mat-spinner [color]="color" [mode]="mode" [value]="value" [diameter]="25"></mat-spinner> -->

<div class="row" style="margin-top: 10px;">

    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <ngx-spinner name="dataTable">
            <br>
            <p class="loading" style="color: blue;">Đang tải dữ liệu, vui lòng chờ...</p>
        </ngx-spinner>
        <ngx-spinner name="filterOptions">
          <br>
      </ngx-spinner>
        <h4><i class="fa fa-institution"></i> &nbsp;Quản lý cơ quan</h4>
        <hr/>
           <!-- <app-them-moi-phong actionType="Thêm mới" iconClass="fa fa-plus" btnClass="btn btn-primary btn-sm"></app-them-moi-phong> -->
           <div class="form-gropu row">
            <label class="col-md-1 col-form-label" for="text-input">Loại cơ quan:</label>
            <div class="col-md-2">
              <ng-select2
              [data]="organTypesArr"
              [placeholder]="'Chọn loại cơ quan...'"
              [options]="options"
              [(ngModel)]="arrayTypeValue"
              (valueChanged)="getFilterOptions($event, arrayNameValue, arrayAddressValue)"
          ></ng-select2>
            </div>
            <label class="col-md-1 col-form-label" for="text-input">Tên cơ quan:</label>
            <div class="col-md-2">
              <ng-select2
              [data]="organNameArr"
              [placeholder]="'Chọn tên cơ quan...'"
              [options]="options"
              [(ngModel)]="arrayNameValue"
              (valueChanged)="getFilterOptions(arrayTypeValue, $event, arrayAddressValue)"
          ></ng-select2>
            </div>
            <label class="col-md-1 col-form-label" for="text-input">Địa chỉ:</label>
            <div class="col-md-3">
              <ng-select2
              [data]="organAddressArr"
              [placeholder]="'Chọn địa chỉ cơ quan...'"
              [options]="options"
              [(ngModel)]="arrayAddressValue"
              (valueChanged)="getFilterOptions(arrayTypeValue, arrayNameValue, $event)"
          ></ng-select2>
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary btn-sm"style="float: right; margin-top: 4px;" (click)="openDialog()">
                <span class="fa fa-plus"></span>
                <span >
                    Thêm mới cơ quan
                </span>
            </button>
            </div>
           </div>
        </div>
        <div class="card-body">
          
          <table class="table table-bordered table-striped table-sm">
            <ngx-spinner name="paging">
              <br>
              <p class="loading" style="color: blue;"></p>
            </ngx-spinner>
            <thead>
              <tr>
                <th>Mã cơ quan</th>
                <th>Tên cơ quan</th>
                <th>Địa chỉ</th>
                <th>Loại cơ quan</th>
                <th>Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let coquan of coquans; let count = index">
                
                <td>{{ coquan.coQuanID }}</td>
                <td>{{ coquan.tenCoQuan }}</td>
                <td>{{ coquan.addressDetail }}</td>
                <td>{{ coquan.organType }}</td>
               
                <td style="width:137px" class="center">
                  <button class="btn btn-primary fa fa-eye" [routerLink]="['/QuanLyCoQuan/coQuan',coquan.coQuanID]" routerLinkActive="router-link-active"  ></button>
                  <!-- <app-them-moi-phong [data]="['nguyễn duy tú', 'nguyễn văn a']" btnClass="btn btn-primary fa fa-edit"></app-them-moi-phong> -->
                  <button class="btn btn-primary fa fa-edit" type="submit" (click)="openDialog(coquan.coQuanID)"  replaceUrl="true" queryParamsHandling="merge"></button>
                  <!-- <button class="btn btn-primary fa fa-trash" type="submit" (click)="openDeleteDialog(coquan.coQuanID)"></button> -->
              </td>
            </tr>
            </tbody>
          </table>
          <div *ngIf="totalRecords > 0 else nondata">
          <nav>
            <ul class="pagination">
              <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [maxSize]="5" [pageSize]="pageSize" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPages($event, condition.PageSize)"></ngb-pagination>
            </ul>
          </nav>
        </div>
        </div>
      </div>
      <ng-template #nondata>
        <!-- <div>Không có dữ liệu phù hợp.</div> -->
    </ng-template>
    </div>
  </div>
  
