
<div class="card top">
    <div class="card-header" aria-hidden="true">
        <div>
            <h4 class="modal-title">Chi tiết hồ sơ</h4>
        </div>
    </div>
    <div class="card-body">
        <!-- <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Hộp số</label>
            <div class="col-md-9">
                <ng-select2
                    [data]="allGearBox"
                    [placeholder]="'Chọn hộp số...'"
                    [options]="options"
                    name="gearBoxId"
                    [(ngModel)]="hoso.gearBoxId"
                ></ng-select2>
            </div>
        </div> -->
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Mã hồ sơ:</label>
            <div class="col-md-9">
                <label> {{ hoso.fileCode }} </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Tiêu đề hồ sơ:</label>
            <div class="col-md-9">
                <!-- <input  id="title" name="title" [(ngModel)]="hoso.title" class="form-control" placeholder="Nhập tiêu đề hồ sơ" required> -->
                <label> {{ hoso.title }} </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Cơ quan:</label>
            <div class="col-md-9">
                <label> {{ hoso.organName }} </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Phông:</label>
            <div class="col-md-9">
                <label> {{ hoso.fontName }} </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Danh mục:</label>
            <div class="col-md-9">
                <label> {{ hoso.tableOfContentName }} </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Tiêu đề hộp số:</label>
            <div class="col-md-9">
                <label> {{ hoso.gearBoxTitle }} </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Số hồ sơ:</label>
            <div class="col-md-9">
                <label> {{ hoso.fileNotation }} </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Loại hồ sơ:</label>
            <div class="col-md-9">
                <label> {{ hoso.profileTypeName }} </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Thời hạn bảo quản:</label>
            <div class="col-md-9">
                <label> {{ hoso.maintenance }} </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Chế độ sử dụng:</label>
            <div class="col-md-9">
                <label> {{ hoso.rights }} </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Ngôn ngữ:</label>
            <div class="col-md-9">
                <label> {{ hoso.language }} </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="date-input">Thời gian bắt đầu:</label>
            <div class="col-md-9">
                <label> {{ hoso.startDate | date: 'dd/MM/yyyy' }} </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="end-input">Thời gian kết thúc:</label>
            <div class="col-md-9">
                <label> {{ hoso.endDate | date: 'dd/MM/yyyy' }} </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Tổng số văn bản trong hồ sơ:</label>
            <div class="col-md-9">
                <!-- <label> {{ hoso.totalDoc }} </label> -->
                <!-- <label> {{ hoso.totalFiles }} </label> -->
                <label> {{ totalRecords }} </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="textarea-input">Mô tả / Chú giải:</label>
            <div class="col-md-9">
                <label> {{ hoso.description }} </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Ký hiệu thông tin:</label>
            <div class="col-md-9">
                <label> {{ hoso.inforSign }} </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Từ khóa:</label>
            <div class="col-md-9">
                <label> {{ hoso.keyWord }} </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Số lượng tờ:</label>
            <div class="col-md-9">
                <label> {{ hoso.sheetNumber }} </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Số lượng trang:</label>
            <div class="col-md-9">
                <label> {{ hoso.pageNumber }} </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" >Tình trạng vật lý:</label>
            <div class="col-md-9">
                <label> {{ hoso.format }} </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" >Số lượng tệp đã tải lên:</label>
            <div class="col-md-9">
                <label> {{ hoso.totalFiles }} tệp </label>
                <span>&nbsp;<button class="btn-link" (click)="openFileDetailDialog(profileId)">Xem chi tiết...</button></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" >Trạng thái:</label>
            <div class="col-md-9">
                <label *ngIf="hoso.status == 1 else inactive"> <span class="badge badge-success">Hoàn thành</span> </label>
            </div>
            <ng-template #inactive>
                <label><span class="badge badge-danger" style="margin-top: 5px;">Chưa hoàn thành</span></label>
              </ng-template>
        </div>

    </div>
    <div class="card-footer">
        <div><h5>Danh sách văn bản có trong hồ sơ số {{ hoso.fileCode }} </h5></div>
        <hr/>
        <br>
        <div *ngIf="totalRecords > 0 else nondata">
        <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Hồ sơ số</th>
                <th>Tài liệu số</th>
                <th>Stt trong hồ sơ</th>
                <th>Tên loại tài liệu</th>
                <th>Nội dung</th>
                <th>Số tờ</th>
                <th>Ghi chú</th>
                <th>Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let document of lstDocuments">
                <td>{{ document.fileCode }}</td>
                <td>{{ document.documentCode }}</td>
                <td>{{ document.docOrdinal }}</td>
                <td>{{ document.typeName }}</td>
                <td>{{ document.subject }}</td>
                <td>{{ document.pageAmount }}</td>
                <td>{{ document.description }}</td>
                <td style="width:137px" class="center">
                    <button class="btn btn-primary fa fa-eye" [routerLink]="['/QuanLyTaiLieu/taiLieu', document.documentId]" routerLinkActive="router-link-active"></button>
                    <button class="btn btn-primary fa fa-edit" [routerLink]="['/QuanLyTaiLieu/taiLieuPdf', document.documentId]" routerLinkActive="router-link-active"  replaceUrl="true" queryParamsHandling="merge"></button>
                </td>
            </tr>
            </tbody>
          </table>
          <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [pageSize]="pageSize" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPages(page)"></ngb-pagination>
        </div>
        <ng-template #nondata>
            <div>Không có dữ liệu phù hợp.</div>
        </ng-template>
    </div>
</div>