<div class="row" style="margin-top: 10px;">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <ngx-spinner name="dataTable">
          <br>
          <p class="loading" style="color: blue;">Đang tải dữ liệu, vui lòng chờ...</p>
        </ngx-spinner>
        <ngx-spinner name="filterOptions">
          <br>
        </ngx-spinner>
        <h4><i class="fa fa-cube"></i> &nbsp;Quản lý Hộp số</h4>
        <hr/>

        <div class="form-group row">
          <div class="col-md-4 row col-lg-4">
            <label class="col-md-4 col-sm-6 col-form-label" for="select1">Danh mục:</label>
            <div style="margin-top:5px;" class="col-md-8 col-sm-6">
              <ng-select2
                [data]="tableOfContArr"
                [placeholder]="'Chọn tên danh mục...'"
                [options]="options"
                [(ngModel)]="arrayTableOfContValue"
                (valueChanged)="getFilterOptions($event)"
            ></ng-select2>
            </div>
          </div>
          <div class="row col-md-4 col-lg-4">
            <label class="col-md-4 col-sm-6 col-form-label" for="text-input">Tìm kiếm:</label>
            <div class="col-md-8 col-sm-6" style="margin-top: 5px;">
              <input type="text" id="text-input" (ngModelChange)="onChange($event)" ngModel="" name="searchText" class="form-control">
            </div>
          </div>
          <div style="margin-left:0px;margin-top: 9px;" class="row col-md-4 col-lg-4">
            <div>
              <button class="btn btn-primary btn-sm"(click)="openDialog()">
                <span class="fa fa-plus"></span>
                <span>
                  Thêm mới hộp số
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>STT</th>
              <th>Mã danh mục</th>
              <th>Mã hộp số</th>
              <th>Tiêu đề hộp số</th>
              <th>Số lượng hồ sơ</th>
              <th>Số lượng văn bản</th>
              <th>Ghi chú</th>

              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hopso of hopsos; index as i">
              <td>{{i+1}}</td>
              <td>{{ hopso.tabOfContCode }}</td>
              <td>{{ hopso.gearBoxCode }}</td>
              <td>{{ hopso.gearBoxTitle }}</td>
              <td>{{ hopso.profileCount }}</td>
              <td>{{ hopso.numDoc }}</td>
              <td>{{ hopso.note }}</td>

              <td style="width:137px;text-align: center;">
                <button class="btn btn-primary fa fa-eye" [routerLink]="['/HopSo/quanLyHopSo',hopso.gearBoxID]"
                  routerLinkActive="router-link-active"></button>
                <button class="btn btn-primary fa fa-edit" (click)="openDialog(hopso.gearBoxID)" replaceUrl="true"
                  queryParamsHandling="merge"></button>
                <button class="btn btn-primary fa fa-trash" (click)="openDeleteDialog(hopso.gearBoxID)"></button>
              </td>
            </tr>
            </tbody>
          </table>
          <nav>
            <ul class="pagination">
              <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPages(page)"></ngb-pagination>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!--/.col-->
