<div class="card" style="margin-top: 10px;">
    <div class="card-header">
            <h4 class="modal-title">Chi tiết cơ quan</h4>
    </div>
    <div class="card-body">
        <!-- <div class="form-group">
          <label class="form-control-label">Mã phông</label>
          <input type="number" class="form-control" name="maphong" id="field_maphong"
              [(ngModel)]="phong.maphong" required/>
      </div> -->
        <div class="form-group row">

            <label class="col-md-3 col-form-label" for="text-input">Mã cơ quan:</label>
            <div class="col-md-9">
                <span>{{ coQuan.coQuanID }}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Tên cơ quan:</label>
            <div class="col-md-9">
                <span>{{ coQuan.tenCoQuan }}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select1">Loại cơ quan:</label>
            <div class="col-md-9">
                <span>{{ coQuan.organType }}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select1">Địa chỉ:</label>
            <div class="col-md-9">
                <span>{{ coQuan.addressDetail }}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select1">Mô tả:</label>
            <div class="col-md-9">
                <span>{{ coQuan.description }}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select1">Ghi chú:</label>
            <div class="col-md-9">
                <span>{{ coQuan.notes }}</span>
            </div>
        </div>
        
    </div>
    <div class="card-footer">
        <div><h5>Danh sách phông trong cơ quan có mã cơ quan: {{ coQuan.organCode }} </h5></div>
        <hr/>
        <div style="margin-left: 5px;margin-top: 6px;">
            <div>
              <button class="btn btn-primary btn-sm"(click)="openDialogToAddFont(coQuan.coQuanID)" style="float: right;margin-bottom: 10px;">
                <span class="fa fa-plus"></span>
                <span>
                  Thêm mới phông
                </span>
              </button>
            </div>
          </div>
        <div *ngIf="totalRecords > 0 else nondata">
        <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Mã cơ quan</th>
                <th>Mã phông</th>
                <th>Tên phông</th>
                <th>Ghi chú</th>
                <th>Thao tác</th>
              </tr>
            </thead>
            <tbody>
            
              <tr *ngFor="let phong of phongs">
                <td>{{ phong.organCode }}</td>
                <td>{{ phong.fontNumber }}</td>
                <td>{{ phong.fontName }}</td>
                <td>{{ phong.note }}</td>
               
                <td style="width:137px" class="center">
                  <button class="btn btn-primary fa fa-eye" [routerLink]="['/QuanLyPhong/phong', phong.fontID]"></button>
                  <button class="btn btn-primary fa fa-edit" type="submit" (click)="openDialog(phong.fontID)" replaceUrl="true" queryParamsHandling="merge"></button>
              </td>
            </tr>
            </tbody>
          </table>
          <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [maxSize]="5" [pageSize]="pageSize" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPages(page)"></ngb-pagination>
        </div>
        </div>
        <ng-template #nondata>
            <div>Không có dữ liệu phù hợp.</div>
        </ng-template>
        </div>
