<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <ngx-spinner name="dataTable">
            <br>
            <p class="loading" style="color: blue;">Đang tải dữ liệu, vui lòng chờ...</p>
          </ngx-spinner>
          <ngx-spinner name="filterOptions">
            <br>
          </ngx-spinner>
          <h3><i class="fa fa-file"></i> &nbsp;Thống kê hồ số</h3>
          <div class="form-group row">
            <label class="col-md-1 col-form-label" for="text-input">Ngày bắt đầu:</label>
            <div class="col-md-2">
              <input type="date" id="text-input" name="fromDate" [(ngModel)]="fromDate" class="form-control">
            </div>
            <label class="col-md-1 col-form-label" for="text-input">Ngày kết thúc:</label>
            <div class="col-md-2">
              <input type="date" id="text-input" name="toDate" [(ngModel)]="toDate" class="form-control">
            </div>
            <div style="margin-left:0px;margin-top: 9px;" class="col-md-6 col-lg-6">
              <div style="float: right;">
                <button class="btn btn-primary btn-sm" (click)="search()">
                  <span class="fa fa-plus"></span>
                  <span>
                    Tìm kiếm
                  </span>
                </button>
              </div>
            </div>
            <!-- <label class="col-md-1 col-form-label" for="text-input">Trạng thái</label>
            <div class="col-md-3">
              <input type="text" id="text-input" name="trangthai" class="form-control">
            </div> -->
          </div>
          <div class="row" style="margin-left:0px;padding-left: 0px;">
            <div style="margin-left:0px;padding-left: 0px;" class="row col-md-12 col-lg-12">
              <div style="display:flex">
                <a style="font-size: 20px;" href={{link}}> <u>Xuất Excel</u></a>
                <!-- <span class="fa fa-plus"></span>
                <span>
                  Xuất Excel
                </span> -->
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <ngx-spinner name="paging">
              <br>
              <p class="loading" style="color: blue;"></p>
            </ngx-spinner>
            <thead>
              <tr>
                <th>Mã Hồ số </th>
                <th>Mã hộp số</th>
                <th>Tiêu đề hồ sơ</th>
                <!-- <th>Thời gian bắt đầu</th>
                <th>Thời gian kết thúc</th> -->
                <th>THBQ</th>
                <th>Loại hồ sơ</th>
                <th>Ghi chú</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hoso of hosos">
                <td>{{ hoso.profileId }}</td>
                <td>{{ hoso.gearBoxCode }}</td>
                <td>{{ hoso.title }}</td>
                <!-- <td>{{ hopso.startDate == undefined ? "" : hopso.startDate.toString().split('T') | date: 'dd/MM/yyyy' }}</td>
                <td>{{ hopso.endDate == undefined ? "" : hopso.endDate .toString().split('T') | date: 'dd/MM/yyyy' }}</td> -->
                <td>{{ hoso.maintenance }}</td>
                <td>{{ hoso.profileTypeName }}</td>
                <td>{{ hoso.description }}</td>
              </tr>
            </tbody>
          </table>
          <ng-template #example>
  
          </ng-template>
          <nav>
            <ul class="pagination">
              <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPages($event)"></ngb-pagination>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>