.error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #f86c6b;
}

.image {
    width: 60%;
    height: auto;
    border: 1;
    border-color: black;
    border-style: solid;
}

.image-preview {
    max-width: 150px;
    max-height: 150px;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 1;
}

.image-container {
    position: relative;
    z-index: 2;
    top: 10%;
}