
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened="true" style="width:50%;">
        <input (change)="onFileSelected()" type="file" id="file">
    </mat-drawer>
        <mat-drawer-content style="height: 650px;" >
            <pdf-viewer [src]="pdfSrc" 
            [render-text]="true"
            [show-borders]="true"
            [autoresize]="true"
            [original-size]="false"
            style="position: sticky;"
            ></pdf-viewer>
        </mat-drawer-content>
    
  </mat-drawer-container>