<div class="row" style="margin-top: 10px;">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <ngx-spinner name="dataTable">
          <br>
          <p class="loading" style="color: blue;">Đang tải dữ liệu, vui lòng chờ...</p>
        </ngx-spinner>
        <ngx-spinner name="filterOptions">
          <br>
        </ngx-spinner>
        <h4><i class="icon-note"></i> &nbsp;Quản lý phông</h4>
        <hr/>
        <div class="form-group row">
          <div class="col-md-4 row col-lg-4">
            <label class="col-md-4 col-form-label" for="select1">Cơ quan:</label>
            <div style="margin-top:5px;" class="col-md-8">
              <ng-select2
              [data]="organArr"
              [placeholder]="'Chọn cơ quan...'"
              [options]="options"
              [(ngModel)]="arrayTypeValue"
              (valueChanged)="getFilterOptions($event,arrayFontValue)"
          ></ng-select2>
            </div>
          </div>
          <div class="col-md-4 row col-lg-4">
            <label class="col-md-4 col-form-label" for="select1">Phông:</label>
            <div style="margin-top:5px;" class="col-md-8">
              <ng-select2
              [data]="fontArr"
              [placeholder]="'Chọn phông...'"
              [options]="options"
              [(ngModel)]="arrayFontValue"
              (valueChanged)="getFilterOptions(arrayTypeValue,$event)"
          ></ng-select2>
            </div>
          </div>
          <div style="margin-left: 5px;margin-top: 6px;" class="row col-md-4 col-lg-4">
            <div>
              <button class="btn btn-primary btn-sm"(click)="openDialog()" style="float: right; margin-top: 4px;">
                <span class="fa fa-plus"></span>
                <span>
                  Thêm mới phông
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
          <ngx-spinner name="paging">
            <br>
            <p class="loading" style="color: blue;"></p>
          </ngx-spinner>
          <thead>
            <tr>
              <th>STT</th>
              <th>Mã cơ quan</th>
              <th>Tên cơ quan</th>
              <th>Mã phông</th>
              <th>Tên phông</th>
              <th>Ghi chú</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let phong of phongs; index as i">
              <td>{{i+1}}</td>
              <td>{{ phong.organID }}</td>
              <td>{{ phong.organName }}</td>
              <td>{{ phong.fontNumber }}</td>
              <td>{{ phong.fontName }}</td>
              <td>{{ phong.note }}</td>
              <td style="width:137px;text-align: center;">
                <button class="btn btn-primary fa fa-eye" [routerLink]="['/QuanLyPhong/phong',phong.fontID]"></button>
                <!-- target blank -->
                <button class="btn btn-primary fa fa-edit" type="submit" (click)="openDialog(phong.fontID)" replaceUrl="true" queryParamsHandling="merge">
                </button>
                <!-- <button class="btn btn-primary fa fa-edit" type="submit" (click)="openDialog(phong.id)"
                  replaceUrl="true" queryParamsHandling="merge"></button> -->
                <!-- <button class="btn btn-primary fa fa-trash" (click)="openDeleteDialog(phong.fontID)"></button> -->
              </td>
            </tr>
            </tbody>
          </table>
          <nav>
            <ul class="pagination">
              <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPages($event)"></ngb-pagination>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!--/.col-->
