<div class="card">
    <div class="card-header" aria-hidden="true">
        <div *ngIf="danhmuc">
            <h4 class="modal-title">Chi tiết danh mục</h4>

        </div>

    </div>
    <div *ngIf="danhmuc" class="card-body">
        <!-- <div class="form-group">
        <label class="form-control-label">Mã phông</label>
        <input type="number" class="form-control" name="maphong" id="field_maphong"
            [(ngModel)]="phong.maphong" required/>
    </div> -->
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Tên cơ quan</label>
            <div class="col-md-9">
                <span>{{danhmuc.organName}}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Mã phông</label>
            <div class="col-md-9">
                <span>{{danhmuc.fontCode}}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Mã danh mục</label>
            <div class="col-md-9">
                <span>{{danhmuc.tabOfContCode}}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Tên danh mục</label>
            <div class="col-md-9">
                <span>{{danhmuc.tabOfContName}}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Mục lục số</label>
            <div class="col-md-9">
                <span>{{danhmuc.tabOfContNumber}}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="textarea-input">Ghi chú</label>
            <div class="col-md-9">
                <span>{{danhmuc.note}}</span>
            </div>
        </div>

    </div>
    <div class="card-footer">
        <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>STT</th>
                <th>Mã hộp số</th>
                <th>Tiêu đề hộp số</th>
                <th>Số lượng hồ sơ</th>
                <th>Số lượng văn bản</th>
                <th>Ghi chú</th>
                
                <th>Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hopso of hopsos; index as i">
                <td>{{ i+1 }}</td>
                <td>{{ hopso.gearBoxCode }}</td>
                <td>{{ hopso.gearBoxTitle }}</td>
                <td>{{ hopso.profileCount }}</td>
                <td>{{ hopso.numDoc }}</td>
                <td>{{ hopso.note }}</td>
               
                <td style="width:137px;text-align: center;">
                  <button class="btn btn-primary fa fa-eye" [routerLink]="['/HopSo/quanLyHopSo',hopso.gearBoxID]" routerLinkActive="router-link-active" ></button>
                  <!-- <app-them-moi-phong [data]="['nguyễn duy tú', 'nguyễn văn a']" btnClass="btn btn-primary fa fa-edit"></app-them-moi-phong> -->
                  <button class="btn btn-primary fa fa-edit" type="submit" (click)="openDialog(hopso.gearBoxID)" replaceUrl="true" queryParamsHandling="merge"></button>
                  <button class="btn btn-primary fa fa-trash" (click)="openDeleteDialog(hopso.gearBoxID)"></button>
              </td>
            </tr>
            </tbody>
          </table>
          <ngb-pagination *ngIf="danhmuc" [collectionSize]="totalRecords" [(page)]="page" [pageSize]="pageSize" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPages($event,danhmuc.tableOfContID)"></ngb-pagination>
    </div>
</div>