<div class="modal-header bg-danger">
    <h4 class="modal-title">Xóa phông</h4>
    <button type="button" class="close" (click)="activeModal.dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Bạn có muốn xóa phông <b>{{phong ? phong.fontID : ""}}</b> ?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="deleteFont(phong.fontID)">Xóa</button>
    <button type="button" class="btn btn-danger" (click)="activeModal.dismiss()">Hủy</button>
</div>
