<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Danh sách tình trạng vật lý
          <div style="margin-left: 6px;margin-right: 0px;margin-bottom: 10px;" class="row">
            <div class="row col-md-4 col-lg-4">
              <label class="col-md-4 col-sm-6 col-form-label" for="text-input">Tìm kiếm</label>
              <div class="col-md-8 col-sm-6" style="margin-top: 5px;">
                <input type="text" id="text-input" (ngModelChange)="onChange($event)" ngModel="" name="searchText" class="form-control">
              </div>
            </div>
            <div class="row col-md-4 col-lg-4" style="margin-top:5px;">
              <button style="height: 34px;" class="btn btn-primary btn-sm pull-right" (click)="openDialog()">
                <span><i class="fa fa-plus"></i> Thêm mới tình trạng vật lý</span>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>STT</th>
                <th>Tên tình trạng vật lý</th>
                <th>Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tinhTrangVatLy of tinhTrangVatLys ; index as i">
                <td>{{i+1}}</td>
                <td><b>&nbsp;{{tinhTrangVatLy.tinhTrang}}</b></td>
                <td style="width:137px;text-align: center;">
                  <button class="btn btn-primary fa fa-edit" type="submit" (click)="openDialog(tinhTrangVatLy.tinhTrangVatLyId)"  replaceUrl="true" queryParamsHandling="merge"></button>
                  <button class="btn btn-primary fa fa-trash" type="submit" (click)="openDeleteDialog(tinhTrangVatLy.tinhTrangVatLyId)"></button>
                </td>
              </tr>
            </tbody>
          </table>
          <nav>
            <ul class="pagination">
              <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [pageSize]="pageSize" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPages($event)"></ngb-pagination>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>