<div class="row" style="margin-top: 10px;">
    <div class="col-lg-12">
        <div class="modal-header">
          <h4><i class="fa fa-folder"></i> &nbsp;Danh sách file đã tải lên</h4>
          <!-- <app-them-moi-phong actionType="Thêm mới" iconClass="fa fa-plus" btnClass="btn btn-primary btn-sm"></app-them-moi-phong> -->
          <hr/>
        </div>
        <div class="modal-body">
          <div *ngIf="totalRecords > 0 else nondata">
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>Tên file</th>
                  <th>Ngày tải lên</th>
                  <th>Người tải lên</th>
                  <th>Dung lượng</th>
                  <!-- <th>Path</th> -->
                  <th>Số tờ</th>
                  <th>Trạng thái</th>
                  <th>Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let file of lstFiles">
                  <td> {{ file.fileName }}</td>
                  <td> {{ file.createdDate | date: 'dd/MM/yyyy' }} </td>
                  <td> {{ file.createdBy }}</td>
                  <td> {{ file.size + ' MB' }}</td>     
                  <!-- <td> {{ file.url }} </td>   -->
                  <td> {{ file.pageNumber }} </td>
                  <td *ngIf="file.status == 1 else inactive">
                    <span class="badge badge-success">Đã số hóa</span>
                  </td>
                  <td class="center">
                    <button class="btn btn-primary fa fa-download" (click)="downloadFileAttachment(file.fileId)"></button>
                  </td>
                </tr>
                </tbody>
              </table>
              <nav>
                <ul class="pagination">
                  <ngb-pagination [collectionSize]="totalRecords" [(page)]="page" [pageSize]="pageSize" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPages(page)"></ngb-pagination>
                </ul>
              </nav>
          </div>
          <ng-template #nondata>
            <div>Không có dữ liệu phù hợp.</div>
          </ng-template>
          <ng-template #inactive>
            <td>
            <span class="badge badge-danger" style="margin-top: 5px;">Chưa số hóa</span>
          </td>
          </ng-template>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
              <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
          </button>
          </div>
        </div>
      </div>
  
