<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <span><i class="fa fa-align-justify"></i> &nbsp;Quản lí Danh mục</span>
        <!-- <app-them-moi-phong actionType="Thêm mới" iconClass="fa fa-plus" btnClass="btn btn-primary btn-sm"></app-them-moi-phong> -->
        <button class="btn btn-primary  " style="float: right" (click)="openDialog()">
          <span class="fa fa-plus"></span>
          <span>
            Thêm mới danh mục
          </span>
        </button>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>STT</th>
              <th>Tên mục lục hồ sơ</th>
              <th>Mục lục số</th>
              <th>Số lượng hộp số</th>
              <th>Ghi chú</th>

              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let danhmuc of danhmucs">
              <td>{{ danhmuc.id }}</td>
              <td>{{ danhmuc.tendanhmuc }}</td>
              <td>{{ danhmuc.muclucso }}</td>
              <td>{{ danhmuc.soluonghopso }}</td>
              <td>{{ danhmuc.ghichu }}</td>

              <td style="width:137px">
                <button class="btn btn-primary fa fa-eye" [routerLink]="['/QuanLyDanhMuc/danhMuc', danhmuc.id]"
                  routerLinkActive="router-link-active"></button>
                <!-- <app-them-moi-phong [data]="['nguyễn duy tú', 'nguyễn văn a']" btnClass="btn btn-primary fa fa-edit"></app-them-moi-phong> -->
                <button class="btn btn-primary fa fa-edit" (click)="openDialog(danhmuc.id)" replaceUrl="true"
                  queryParamsHandling="merge"></button>
                <button class="btn btn-primary fa fa-trash" (click)="openDeleteDialog(danhmuc.id)"></button>
              </td>
            </tr>
          </tbody>
        </table>
        <nav>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!--/.col-->
  <!-- <app-phong-dialog hidden="true"></app-phong-dialog> -->
</div>