
<form (ngSubmit)="save()" enctype="multipart/form-data" class="form-horizontal">

  <div class="modal-header bg-primary" aria-hidden="true">
    <div *ngIf="phong.fontID != null; else themMoi">
      <h4 class="modal-title">Chỉnh sửa phông</h4>
    </div>
    <ng-template #themMoi>
      <h4 class="modal-title">Thêm mới phông</h4>
    </ng-template>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="text-input">Mã phông</label>
      <div class="col-md-9">
        <input type="text" id="text-input" name="fontNumber" class="form-control" [(ngModel)]="phong.fontNumber">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="select1">Cơ quan</label>
      <div class="col-md-9">
        <ng-select2
          [data]="lstOrgan"
          [placeholder]="'Chọn cơ quan...'"
          [options]="options"
          name="organID"
          [(ngModel)]="phong.organID"
        ></ng-select2>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="text-input">Tên phông</label>
      <div class="col-md-9">
        <input type="text" id="text-input" name="fontName" class="form-control" [(ngModel)]="phong.fontName">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="textarea-input">Lịch sử phông</label>
      <div class="col-md-9">
        <textarea  id="textarea-input" name="history" rows="9" class="form-control" [(ngModel)]="phong.history"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="textarea-input">Ghi chú</label>
      <div class="col-md-9">
        <textarea id="textarea-input" name="note" rows="9" class="form-control" [(ngModel)]="phong.note"></textarea>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">
        <span class="fa fa-save"></span>&nbsp;<span >Save</span>
    </button>
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clear()">
      <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
  </button>
</div>
</form>