
<form [formGroup]="form" (ngSubmit)="save()" enctype="multipart/form-data" class="form-horizontal">

  <div class="modal-header bg-primary" aria-hidden="true">
    <div *ngIf="phong.fontID != null; else themMoi">
      <h4 class="modal-title">Chỉnh sửa phông</h4>
    </div>
    <ng-template #themMoi>
      <h4 class="modal-title">Thêm mới phông</h4>
    </ng-template>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="select1">Cơ quan <span style="color: red;">(*)</span></label>
      <div class="col-md-4">
        <ng-select2
          formControlName="organID"
          [data]="lstOrgan"
          [placeholder]="'Chọn cơ quan...'"
          [options]="options"
          name="organID"
          [(ngModel)]="phong.organID"
          (valueChanged)="getOrganCodeByOrganId($event)"
        ></ng-select2>
        <div *ngIf="submitted && f.organID.status == 'INVALID'">
          <div class="error"><span style="color:red;">Vui lòng chọn cơ quan.</span></div>
        </div>
      </div>
      <label class="col-md-2 col-form-label" for="select1">Mã cơ quan:</label>
      <div class="col-md-3" style="margin-top: 6px;"> 
        <span style="padding-left: 5px;padding-top: 5px;">
          {{organCode}}
        </span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="text-input">Mã phông <span style="color: red;">(*)</span></label>
      <div class="col-md-9">
        <input type="text" formControlName="fontNumber" placeholder="Nhập mã phông" name="fontNumber" [(ngModel)]="phong.fontNumber" class="form-control" [ngClass]="{'is-invalid': submitted && f.fontNumber.errors}" />
        <div *ngIf="submitted && f.fontNumber.errors" class="invalid-feedback">
          <div *ngIf="f.fontNumber.errors.required">Mã phông không được để trống.</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="text-input">Tên phông <span style="color: red;">(*)</span></label>
      <div class="col-md-9">
        <input type="text" formControlName="fontName" placeholder="Nhập tên phông" name="fontName" [(ngModel)]="phong.fontName" class="form-control" [ngClass]="{'is-invalid': submitted && f.fontName.errors}" />
        <div *ngIf="submitted && f.fontName.errors" class="invalid-feedback">
          <div *ngIf="f.fontName.errors.required">Tên phông không được để trống.</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="select1">Ngôn ngữ</label>
      <div class="col-md-9">
        <ng-select2
          formControlName="languageId"
          [data]="languageList"
          [placeholder]="'Chọn ngôn ngữ...'"
          [options]="options"
          name="languageId"
          [(ngModel)]="phong.languageId"
        ></ng-select2>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="textarea-input">Lịch sử phông</label>
      <div class="col-md-9">
        <textarea  placeholder="Nhập lịch sử phông" formControlName="history"  id="textarea-input" name="history" rows="9" class="form-control" [(ngModel)]="phong.history"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="text-input">Công cụ tra cứu</label>
      <div class="col-md-9">
        <input placeholder="Nhập công cụ tra cứu" formControlName="lookupTools"  type="text" name="lookupTools" class="form-control" [(ngModel)]="phong.lookupTools">
      </div>
      <!-- <label class="col-md-3 col-form-label" for="select1">Công cụ tra cứu</label>
      <div class="col-md-9">
        <ng-select2
          [data]="lstTool"
          [placeholder]="'Công cụ tra cứu...'"
          [options]="options"
          name="organID"
          [(ngModel)]="phong.organID"
        ></ng-select2>
      </div> -->
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="textarea-input">Ghi chú</label>
      <div class="col-md-9">
        <textarea placeholder="Ghi chú" formControlName="note" id="textarea-input" name="note" rows="9" class="form-control" [(ngModel)]="phong.note"></textarea>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clear()">
      <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
    </button>
    <button type="submit" class="btn btn-primary">
        <span class="fa fa-save"></span>&nbsp;<span >Save</span>
    </button>
</div>
</form>