<div class="modal-header bg-danger">
    <h4 class="modal-title">Xóa tình trạng vật lý</h4>
    <button type="button" class="close" (click)="activeModal.dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p *ngIf="tinhTrangVatLy">Bạn có muốn xóa tình trạng vật lý {{tinhTrangVatLy.tinhTrang}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="deleteTinhTrangVatLy(tinhTrangVatLy.tinhTrangVatLyId)" >Xóa</button>
    <button type="button" class="btn btn-danger" (click)="activeModal.dismiss()">Hủy</button>
</div>
