<form (ngSubmit)="save()" enctype="multipart/form-data" class="form-horizontal">

    <div class="modal-header bg-primary " aria-hidden="true" >
        <div *ngIf="danhmuc.tabOfContID != null; else themMoi" style="text-align: center;">
            <h4 class="modal-title">Chỉnh sửa danh mục</h4>

        </div>

        <ng-template #themMoi>
            <h4 class="modal-title" >Thêm mới danh mục</h4>

        </ng-template>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- <div class="form-group">
        <label class="form-control-label">Mã phông</label>
        <input type="number" class="form-control" name="maphong" id="field_maphong"
            [(ngModel)]="phong.maphong" required/>
    </div> -->
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Mã danh mục</label>
            <div class="col-md-9">
                <input hidden type="text" id="text-input" name="storageID" class="form-control" [(ngModel)]="danhmuc.storageID">
                <input type="text" id="text-input" name="tabOfContCode" class="form-control" [(ngModel)]="danhmuc.tabOfContCode">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Tên danh mục</label>
            <div class="col-md-9">
                <input type="text" id="text-input" name="tabOfContName" class="form-control"
                    [(ngModel)]="danhmuc.tabOfContName">
            </div>
        </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select1">Phông</label>
            <div class="col-md-9">
              <ng-select2
                [data]="lstFont"
                [placeholder]="'Chọn phông...'"
                [options]="options"
                name="fontID"
                [(ngModel)]="danhmuc.fontID"
              ></ng-select2>
            </div>
          </div>
          <!-- <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select1">Cơ quan</label>
            <div class="col-md-9">
              <select2 [data]="data1"  (update)="update1($event)" id="selec2-1">
              </select2>
            </div>
          </div> -->
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Mục lục số</label>
            <div class="col-md-9">
                <input type="text" id="text-input" name="tabOfContNumber" class="form-control" [(ngModel)]="danhmuc.tabOfContNumber">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="textarea-input">Ghi chú</label>
            <div class="col-md-9">
                <textarea id="textarea-input" name="note" rows="9" class="form-control"
                    [(ngModel)]="danhmuc.note"></textarea>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>