<div *ngIf="hopso" class="card">

    <div class="card-header" aria-hidden="true">
        <div>
            <h4 class="modal-title">Chi tiết hộp số</h4>
        </div>
    </div>
    <div class="card-body">
       
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Tên cơ quan</label>
            <div class="col-md-9">
                <span>{{hopso.organName}}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Tên phông</label>
            <div class="col-md-9">
                <span>{{hopso.fontName}}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Mục lục số</label>
            <div class="col-md-9">
                <span>{{hopso.tabOfContNumber}}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Mã hộp số</label>
            <div class="col-md-9">
                <span>{{hopso.gearBoxCode}}</span>
            </div>
        </div>
        <!-- <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Tiêu đề hộp số</label>
            <div class="col-md-9">
                <span>{{hopso.gearBoxTitle}}</span>
            </div>
        </div> -->
       
        <!-- <div class="form-group row">
            <label class="col-md-3 col-form-label" for="date-input">Ngày bắt đầu</label>
            <div class="col-md-9">
                <span>{{ hopso.startDate.toString().split('T') | date: 'dd/MM/yyyy' }}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="date-input">Ngày kết thúc</label>
            <div class="col-md-9">
                <span>{{ hopso.endDate.toString().split('T') | date: 'dd/MM/yyyy' }}</span>
            </div>
        </div> -->
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Trạng thái</label>
            <div class="col-md-9">
                <span *ngIf="statuss">
                    <span *ngFor="let status of statuss">
                      <span *ngIf="hopso.status == status.statusID && hopso.status == 1" class="badge badge-success">
                        {{status.note}}
                      </span>
                      <span *ngIf="hopso.status == status.statusID && hopso.status == 3" class="badge badge-warning">
                        {{status.note}}
                      </span>
                      <span *ngIf="hopso.status == status.statusID && hopso.status == 2" class="badge badge-info">
                        {{status.note}}
                      </span>
                      <span *ngIf="hopso.status == status.statusID && hopso.status != 1 &&  hopso.status != 2 &&  hopso.status != 3" class="badge badge-Light">
                        {{status.note}}
                      </span>
                    </span>
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Ghi chú</label>
            <div class="col-md-9">
                <span>{{hopso.note}}</span>
            </div>
        </div>
    </div>
    <div *ngIf="hopso" class="card-footer">
        <div *ngIf="hopso.gearBoxCode"><h5>Danh sách hồ sơ trong hồ sơ có mã hộp số: {{ hopso.gearBoxCode }} </h5></div>
        <hr/>
        <div>
            <div style="float: right;margin-bottom: 10px;">
                <button class="btn btn-primary btn-sm" (click)="openDialogToAddHoSo(hopso.gearBoxID)">
                <span class="fa fa-plus"></span>
                <span>
                    Thêm mới hồ số
                </span>
                </button>
            </div>
        </div>
        <div *ngIf="totalRecords > 0 else nondata">
            <table class="table table-bordered table-striped table-sm">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Hồ sơ số</th>
                    <th>Tiêu đề</th>
                    <th>Loại hồ sơ</th>
                    <th>Ghi chú</th>
                    <th>Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let hoso of hosos;index as i">
                    <td>{{i+1}}</td>
                    <td>{{ hoso.profileNumber }}</td>
                    <td>{{ hoso.title }}</td>
                    <td>{{ hoso.profileTypeName }}</td>
                    <td>{{ hoso.note }}</td>
                
                    <td style="width:137px;text-align: center;">
                    <button class="btn btn-primary fa fa-eye" [routerLink]="['/QuanLyHoSo/hoSo',hoso.profileId]" routerLinkActive="router-link-active"  ></button>
                    <!-- <app-them-moi-phong [data]="['nguyễn duy tú', 'nguyễn văn a']" btnClass="btn btn-primary fa fa-edit"></app-them-moi-phong> -->
                    <button class="btn btn-primary fa fa-edit" (click)="openDialog(hoso.profileId)"  replaceUrl="true" queryParamsHandling="merge"></button>
                    <!-- <button class="btn btn-primary fa fa-trash" (click)="openDeleteDialog(hoso.profileId)"></button> -->
                </td>
                </tr>
                </tbody>
            </table>
            <ngb-pagination *ngIf="hopso" [collectionSize]="totalRecords" [(page)]="page" [pageSize]="pageSize" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPages($event,hopso.gearBoxID)"></ngb-pagination>
        </div>
    </div>
    <ng-template #nondata>
        <div>Không có dữ liệu phù hợp.</div>
    </ng-template>
</div>