<div class="card">

    <div class="card-header" aria-hidden="true">
        <div *ngIf="document">
            <h4 class="modal-title">Chi tiết tài liệu</h4>

        </div>

    </div>
    <div class="modal-body">
        <!-- <div class="form-group">
        <label class="form-control-label">Mã phông</label>
        <input type="number" class="form-control" name="maphong" id="field_maphong"
            [(ngModel)]="phong.maphong" required/>
    </div> -->
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Mã văn bản</label>
            <div class="col-md-9">
                <span>{{document.documentCode}}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Mã hồ sơ</label>
            <div class="col-md-9">
                <span>{{document.fileCode}}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Văn bản số</label>
            <div class="col-md-9">
                <span>{{document.codeNumber}}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Cơ quan phát hành</label>
            <div class="col-md-9">
                <span>{{document.organName}}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Loại văn bản</label>
            <div class="col-md-9">
                <span>{{document.typeName}}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Số thứ tự văn bản</label>
            <div class="col-md-9">
                <span>{{document.docOrdinal}}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Ký hiệu văn bản</label>
            <div class="col-md-9">
                <span>{{document.codeNotation}}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Số tờ</label>
            <div class="col-md-9">
                <span>{{document.pageAmount}}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Nội dung</label>
            <div class="col-md-9">
                <span>{{document.subject}}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Ngôn ngữ</label>
            <div class="col-md-9">
                <span>{{document.language}}</span>
            </div>
        </div>
        
        <!-- <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Trạng thái</label>
            <div class="col-md-9">
                <span>{{document.trangthai}}</span>
            </div>
        </div> -->
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Ngày tháng năm văn bản</label>
            <div class="col-md-9">
                <span>{{document.issuedDate}}</span>
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Ghi chú</label>
            <div class="col-md-9">
                <span>{{document.description}}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Ký hiệu thông tin</label>
            <div class="col-md-9">
                <span>{{document.inforSign}}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Từ khóa</label>
            <div class="col-md-9">
                <span>{{document.keyword}}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Chế độ sử dụng</label>
            <div class="col-md-9">
                <span>{{document.mode}}</span>
            </div>
        </div>
        <!-- <div class="form-group row">
            <label class="col-md-3 col-form-label" for="date-input">Thời gian bắt đầu</label>
            <div class="col-md-9">
                <input class="form-control" id="date-input" type="date" name="thoigianbatdau" placeholder="date">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="date-input">Thời gian kết thúc</label>
            <div class="col-md-9">
                <input class="form-control" id="date-input" type="date" name="thoigianketthuc" placeholder="date">
            </div>
        </div> -->
        
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="inline-radios">Mức độ tin cậy</label>
            <div class="col-md-9 col-form-label">
            <span>{{document.confidenceLevel}}</span>
              
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="inline-radios">Bút tích</label>
            <div class="col-md-9 col-form-label">
            <span>{{document.autograph}}</span>
              
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="inline-radios">Tình trạng vật lý</label>
            <div class="col-md-9 col-form-label">
            <span>{{document.format}}</span>
              
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="inline-radios">File đính kèm</label>
            <div class="col-md-9 col-form-label">
                <span>{{document.computerFileName}}</span>
            </div>
        </div>
        <!-- <div class="form-group row">
            <label class="col-md-3 col-form-label" for="file-multiple-input">Upload File</label>
            <div class="col-md-9">
                <input type="file" id="file-multiple-input" name="file-multiple-input" multiple>
            </div>
        </div> -->
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div> -->
</div>